<%= render 'layouts/flash_message' %>
<div class="container">
  <h4 class="col-md-6 col-lg-4 col-xl-3 py-1 mt-2 back-text shadow"><strong>お問い合わせ詳細</strong></h4>
  <div class="row pb-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">

      <table class="table shadow mt-4 table-hover back-background shadow">
        <thead class="back-admin">
          <tr>
            <th class="text-light" style="width: 40%">お問い合わせ件名</th>
            <th class="text-light" style="width: 60%">お問い合わせ内容</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @contact.contact_type %>
              <div class="mt-5"><%= l @contact.created_at %></div>
            </td>

            <td style="word-break: break-all"><%= @contact.content %></td>
          </tr>
        </tbody>

        <tbody class="table-back">
          <tr>
            <td class="text-light">
              <div class="mt-2">
                対応状況：<strong><%= @contact.status %></strong>
              </div>
            </td>

        　　  <td>
              <div class="row justify-content-end mr-5">
                <%= link_to "削除", contact_path(@contact.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn destroy-btn shadow" %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>