<!--コメント表示　[非同期通信化]-->

<% post_coffee.coffee_comments.each do |coffee_comment| %>
  <%= image_tag coffee_comment.user.get_profile_image(100,100), class: "rounded-circle";  %>
  会員名：<%= coffee_comment.user.name %>

  <div class="mt-5">
  <%= coffee_comment.comment %>
  </div>

<div class="mt-5 pb-5">
  <%= coffee_comment.created_at.strftime('%Y/%m/%d') %>

    <% if coffee_comment.user == current_user %>
      <%= link_to "削除", post_coffee_coffee_comment_path(coffee_comment.post_coffee, coffee_comment), method: :delete, remote: true %>
    <% end %>
<% end %>
</div>