<!--コメント表示　[非同期通信化]-->
<h4 class="col-md-4 col-lg-4 col-xl-3 py-1 mt-5 back-text shadow"><strong>コメント一覧</strong></h4>
  <table class="table shadow mb-5 mx-auto back-background col-xl-12 col-lg-13 col-md-12 comment-table">
    <% if post_coffee.coffee_comments.present? %>
      <% post_coffee.coffee_comments.each do |coffee_comment| %>
        <tbody>
          <tr>
            <td style="width: 40%;">
              <%= image_tag coffee_comment.user.get_profile_image(300,300), class: "rounded-circle", :size => '100' %><br>
              [ 会員名 ]<br>
              <%= link_to user_path(coffee_comment.user.id) do %>
              　<!--テレビ、デスクトップPC、ノートパソコン、タブレットの表示-->
                <div class="d-none d-sm-block">
                  <%= coffee_comment.user.name %>
                </div>

                <!--スマホの表示-->
                <div class="d-block d-sm-none">
                  <%= coffee_comment.user.name.truncate(6) %>
                </div>
              <% end %>

              <!--コメント日時-->
              <div class="mt-5">
                <%= l coffee_comment.created_at %>
              </div>
            </td>

            <!--コメント内容-->
　　　　　  <td style="word-break: break-all">
　　　　　    <div class="comment-text-indent">
　　　　　      <%= coffee_comment.comment %>
　　　　　    </div>

              <% if coffee_comment.user == current_user %>
                <div class="row justify-content-end mr-2 mt-5 pt-5">
                  <%= link_to "削除", post_coffee_coffee_comment_path(coffee_comment.post_coffee, coffee_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, remote: true, class: "btn destroy-btn" %>
                </div>
              <% end %>
　　　　　  </td>
          </tr>
        </tbody>

      <% end %>
    <% else %>

      <!--テレビ、デスクトップPCの表示-->
      <h3 class="text-center mt-5 d-none d-lg-block"><strong>まだコメントはありません</strong></h3>

      <!--ノートパソコン、タブレット、スマホの表示-->
      <h4 class="text-center mt-5 d-block d-lg-none"><strong>まだコメントはありません</strong></h4>

    <% end %>
  </table>