<!--コメント送信　[非同期通信化]-->

<!--フラッシュメッセージ-->
<div id="flash_message">
 <%= render 'layouts/flash_message' %>
</div>

<!--エラーメッセージ-->
<div id="comments_error">
  <%= render 'layouts/error_messages', model: @coffee_comment %>
</div>

<%= form_with model: [@post_coffee, @coffee_comment], local: false do |f| %>
  <%= f.text_area :comment, placeholder: "コメントを記入して下さい　※100文字以内", size: "125x6", class: "col-12 form-all shadow" %>
  <%= f.submit "送信", class: "btn post-btn mt-1 mb-4 shadow" %>
<% end %>