<table class="table shadow mt-4 table-hover back-background">
  <thead class="back-admin">
    <tr>
      <th class="text-light" style="width: 35%;">
        投稿名・画像
      </th>

      <th class="text-light" style="width: 20%;">
        <!--パソコン、タブレットの時のみ表示-->
        <div class="d-none d-sm-block">
          投稿日時
        </div>
      </th>

      <th class="text-light" style="width: 45%;">
        会員名
      </th>
    </tr>
  </thead>

<% @post_coffees.each do |post_coffee| %>
  <tbody>
    <tr>
      <td>
        <!--投稿画像-->
        <%= image_tag post_coffee.get_image, class: "rounded", :size => '100' %>

        <!--投稿名-->
        <div class="mt-2 ml-3">
          <%= link_to admin_post_coffee_path(post_coffee.id) do %>

            <!--パソコンの表示-->
            <div class="d-none d-lg-block table-text-indent">
              <%= post_coffee.coffee_name.truncate(10) %>
            </div>

            <!--タブレット、スマホの表示-->
            <div class="d-block d-lg-none table-text-indent">
              <%= post_coffee.coffee_name.truncate(8) %>
            </div>
          <% end %>
        </div>
      </td>

      <!--投稿日時-->
      <td>
        <!--パソコン、タブレットの時のみ表示-->
        <div class="d-none d-sm-block">
          <%= l post_coffee.created_at %>
        </div>
      </td>

      <!--投稿の会員名-->
      <td>
        <%= link_to admin_user_path(post_coffee.user.id) do %>
          <!--パソコン、タブレットの表示-->
          <div class="d-none d-sm-block">
            <%= post_coffee.user.name %>
          </div>

          <!--スマホの表示-->
          <div class="d-block d-sm-none">
            <%= post_coffee.user.name.truncate(6) %>
          </div>
        <% end %>
      </td>

    </tr>
  </tbody>
<% end %>
</table>