<div class="admin-main">
  <!--フラッシュメッセージ-->
  <%= render 'layouts/flash_message' %>
  <div class="container pb-5">
    <h4 class="col-md-4 col-lg-4 col-xl-3 py-1 mt-2 back-text shadow"><strong>投稿詳細</strong></h4>
      <div class="row shadow back-show mx-2">

        <div class="col-xl-5 col-lg-6 col-md-6 pb-2 back-background">

          <!--投稿画像-->
          <%= image_tag @post_coffee.get_image, class: "card-img shadow", :size => '445' %>

　        <!--会員画像-->
          <%= image_tag @post_coffee.user.get_profile_image(300,300), class: "mt-3 rounded-circle", :size => '100' %>

          <!--会員名-->
          <%= link_to admin_user_path(@post_coffee.user.id) do %>
            会員名：<%= @post_coffee.user.name %>
          <% end %>

          <!--投稿日時-->
          <div class="justify-content-start mr-4 mt-4">
          投稿日時：<%= l @post_coffee.created_at %>
          </div>

          <div class="row justify-content-end">

            <!--コメント数-->
            <i class="fa fa-comment m-1"></i>
            <div class="comment_count mr-4">
              <%= @post_coffee.coffee_comments.count %>
            </div>
          </div>
        </div>

        <div class="col-xl-7 col-lg-6 col-md-6 back-show-list">
          <h5 class="mt-3 ml-3" style="word-break: break-all">投稿名<br>
            <div class="coffee_name-text-indent">
              <%= @post_coffee.coffee_name %>
            </div>
          </h5>

　        <h5 class="mt-3 ml-3">珈琲の淹れ方<br>
　          <%= @post_coffee.tag.tag_name %>
　        </h5>

　        <h5 class="mt-3 ml-3">珈琲の種類<br>
　          <%= @post_coffee.category.category_name %>
　        </h5>

　        <h5 class="mt-4 ml-3">珈琲豆の種類<br>
　          <%= @post_coffee.genres.map(&:genre_name).join('・') %>
　        </h5>

          <h5 class="mt-5 ml-3" style="word-break: break-all">投稿説明<br>
            <div class="coffee_explanation-text-indent">
　            <%= @post_coffee.coffee_explanation %>
　          </div>
　        </h5>
        </div>

        <div class="row mx-auto py-2">
          <%= link_to "削除", admin_post_coffee_path(@post_coffee), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn destroy-btn shadow" %>
        </div>
      </div>

      <!--コメント一覧-->
      <h4 class="col-md-4 col-lg-4 col-xl-3 py-1 mt-5 back-text shadow"><strong>コメント一覧</strong></h4>
        <table class="table shadow mb-5 mx-auto back-background col-xl-12 col-lg-13 col-md-12 comment-table">
          <% if @post_coffee.coffee_comments.present? %>
            <% @post_coffee.coffee_comments.each do |coffee_comment| %>
              <tbody>
                <tr>
                  <td style="width: 40%;">
                    <%= image_tag coffee_comment.user.get_profile_image(300,300), class: "rounded-circle", :size => '100' %><br>
                    [ 会員名 ]<br>

                    <%= link_to user_path(coffee_comment.user.id) do %>
              　       <!--テレビ、デスクトップPC、ノートパソコン、タブレットの表示-->
                      <div class="d-none d-sm-block">
                        <%= coffee_comment.user.name %>
                      </div>

                      <!--スマホの表示-->
                      <div class="d-block d-sm-none">
                        <%= coffee_comment.user.name.truncate(6) %>
                      </div>
                    <% end %>

                    <!--コメント日時-->
                    <div class="mt-5">
                      <%= l coffee_comment.created_at %>
                    </div>
                  </td>

                  <!--コメント内容-->
　　　　　        <td style="word-break: break-all">
　　　　　          <div class="comment-text-indent">
　　　　　            <%= coffee_comment.comment %>
　　　　　          </div>

                    <div class="row justify-content-end mr-2 mt-5 pt-5">
                      <%= link_to "削除", admin_post_coffee_coffee_comment_path(coffee_comment.post_coffee, coffee_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn destroy-btn" %>
                    </div>
　　　　　        </td>
                </tr>
              </tbody>

            <% end %>
          <% else %>

            <!--テレビ、デスクトップPCの表示-->
            <h3 class="text-center mt-5 d-none d-lg-block"><strong>まだコメントはありません</strong></h3>

            <!--ノートパソコン、タブレット、スマホの表示-->
            <h4 class="text-center mt-5 d-block d-lg-none"><strong>まだコメントはありません</strong></h4>

          <% end %>
        </table>

  </div>
</div>