<div class="admin-main">
  <!--フラッシュメッセージ-->
  <%= render 'layouts/flash_message' %>
    <div class="container">
      <h4 class="col-md-6 col-lg-5 col-xl-4 py-1 mt-2 back-text shadow"><strong>珈琲の種類一覧・追加</strong></h4>
        <!--エラーメッセージ表示-->
        <%= render 'layouts/error_messages', model: @category %>

          <div class="row no-gutters">
            <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 mx-sm-auto text-center shadow pt-3 back-admin">
              <%= form_with model: @category, url: admin_categorys_path do |f| %>

                珈琲の種類<br>
                <%= f.text_field :category_name, class: "admin-form-all" %><br>
                <%= f.submit '新規登録', class: "btn post-btn shadow" %>
              <% end %>

              <table class="table table-hover mt-3 back-background">
                <thead class="table-sidebar_th">
                  <tr>
                    <th style="width: 60%">珈琲の種類</th>
                    <th style="width: 40%"></th>
                  </tr>
                </thead>
              <% @categorys.each do |category| %>
                <tbody>
                  <tr>
                    <td><%= category.category_name %></td>
                    <td><%= link_to "編集する", edit_admin_category_path(category.id), class: "btn btn-sm update-btn shadow" %></td>
                  </tr>
                </tbody>
              <% end %>
              </table>
            </div>
          </div>
    </div>

  <!--ページネーション-->
  <div class="mx-auto mt-3 pb-5">
    <%= paginate @categorys, theme: 'bootstrap-5' %>
  </div>
</div>