<div class="main-top">
  <%= render 'layouts/flash_message' %>
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <div class="top-image"></div>

          <div class="col-7 mx-auto">
            <div class="row">
              <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn btn-light btn-block mb-5 shadow" %>
            </div>

            <div class="row">
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-secondary btn-block mb-5 shadow" %>
            </div>

            <div class="row">
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-dark btn-block shadow" %>
            </div>
          </div>

          <!--実装時のみ-->
          <%= link_to "管理者ログイン", new_admin_session_path, class: "btn btn-light shadow" %>
      </div>
    </div>
  </div>
</div>