<table class="table shadow table-hover back-background col-md-12 col-lg-13 col-xl-12 comment-table">
  <thead class="back-admin">
    <tr>
      <th class="text-light" style="width: 35%;">
        <!--テレビ、デスクトップPCの表示-->
        <div class="d-none d-lg-block">
          会員名・コメント日時
        </div>

        <!--ノートパソコン、タブレット、スマホの表示-->
        <div class="d-block d-lg-none">
          会員名
        </div>
      </th>

      <th class="text-light" style="width: 65%;">
        コメント内容
      </th>
    </tr>
  </thead>
<% @coffee_comments.each do |coffee_comment| %>
  <tbody>
    <tr>
      <td>
        <%= link_to admin_user_path(coffee_comment.user.id) do %>
          <!--テレビ、デスクトップPC、ノートパソコンの表示-->
          <div class="d-none d-md-block">
            <%= coffee_comment.user.name %>
          </div>

          <!--タブレット、スマホの表示-->
          <div class="d-block d-md-none">
            <%= coffee_comment.user.name.truncate(6) %>
          </div>
        <% end %>

        <!--コメント日時-->
        <div class="mt-5"><%= l coffee_comment.created_at %></div>
      </td>

      <!--コメント内容-->
　　　<td class="text-word-break"><%= coffee_comment.comment %></td>
    </tr>
  </tbody>

  <!--削除ボタン-->
  <tbody class="table-back">
    <tr>
      <td>
        <div class="mt-2">
        <%= link_to admin_post_coffee_path(coffee_comment.post_coffee.id) do %>
          [ 投稿名 ]<br>
          <strong class="d-none d-lg-block">
            <%= coffee_comment.post_coffee.coffee_name.truncate(17) %>
          </strong>

          <strong class="d-block d-lg-none">
            <%= coffee_comment.post_coffee.coffee_name.truncate(6) %>
          </strong>
        <% end %>
        </div>
      </td>

      <td>
        <div class="row justify-content-end mr-5">
          <%= link_to "削除", admin_post_coffee_coffee_comment_path(coffee_comment.post_coffee, coffee_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn destroy-btn" %>
        </div>
      </td>
    </tr>
  </tbody>

<% end %>
</table>