<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="col-5 py-1 mt-2 text-center text-light" style="background-color:#000;">
          <strong><div class="comment_count">コメント一覧 : コメント数<%= @coffee_comments.count %></div></strong>
      </h4>

        <table class="table shadow-lg mt-4 table-hover" style="background-color: #fff;">
          <thead class="table-active" style="background-color: #556b2f;">
            <tr>
              <th class="text-light">会員名</th>
              <th class="text-light">コメント日時</th>
              <th class="text-light">コメント内容</th>
              <th></th>
            </tr>
          </thead>

        <% @coffee_comments.each do |coffee_comment| %>
          <tbody>
            <tr>
              <td><%= coffee_comment.user.name %></td>
              <td><%= l coffee_comment.created_at %></td>
              <td><%= coffee_comment.comment %></td>
              <td><%= link_to "削除", admin_coffee_comment_path(coffee_comment.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-danger" %></td>
            </tr>
          </tbody>
        <% end %>
        </table>

      </div>
    </div>
</div>

<!--ページネーション-->
<div class="mx-auto mt-4">
  <%= paginate @coffee_comments %>
</div>