<div class="admin-main">
<%= render 'layouts/flash_message' %>
<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
      <h4 class="col-md-6 col-lg-5 col-xl-5 py-1 mt-2 back-text">
          <strong><div class="comment_count">コメント一覧 : コメント数 <%= @coffee_comments.count %></div></strong>
      </h4>

       <table class="table shadow mx-auto back-background col-xl-12 col-lg-13 col-md-12 comment-table">
         <% if @coffee_comments.present? %>
          <thead class="table-active back-admin">
            <tr>
              <th class="text-light">会員名・コメント日時</th>
              <th class="text-light" style="width: 60%">コメント内容</th>
              <th></th>
            </tr>
          </thead>
          <% @coffee_comments.each do |coffee_comment| %>

          <tbody>
            <tr>
              <td><%= coffee_comment.user.name %><br>
                <div class="mt-5"><%= l coffee_comment.created_at %></div>
              </td>

　　　　　    <td><%= coffee_comment.comment %></td>

　　　　　    <td>
                <div class="row justify-content-end mr-5">
                  <%= link_to "削除", admin_coffee_comment_path(coffee_comment.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-danger" %>
                </div>
              </td>
            </tr>
          </tbody>
          <% end %>
        <% else %>
          <h3 class="text-center mt-5"><strong>まだコメントはありません</strong></h3>
        <% end %>
      </table>

    </div>
  </div>
</div>

<!--ページネーション-->
<div class="mx-auto mt-3 pb-5">
  <%= paginate @coffee_comments %>
</div>
</div>