<div class="admin-main">
  <div class="container">
    <div class="row">

      <!--会員名の検索一覧-->
      <% if @range == "User" %>
        <h4 class="col-md-6 col-lg-5 col-xl-5 py-1 mt-2 back-text shadow">
          <strong>
            会員名 『<%= params[:word].truncate(10) %>』
          </strong>
        </h4>

        <!--全体の数とページの数を表示-->
        <div class="col-sm-5 col-lg-6 col-xl-5 list-top-all mt-3">
          <%= page_entries_info(@users) %>
        </div>

        <div class="col-12 mx-auto">
          <!--一覧一部テンプレート-->
          <% if @users.present? %>
            <%= render 'admin/users/user_list' %>
          <% else %>

            <!--パソコンの表示-->
            <h3 class="text-center mt-5 d-none d-lg-block">
              <strong>
                一致する会員名は検出できませんでした
              </strong>
            </h3>

            <!--タブレットの表示-->
            <h4 class="text-center mt-5 d-none d-md-block d-lg-none">
              <strong>
                一致する会員名は検出できませんでした
              </strong>
            </h4>

            <!--スマホの表示-->
            <h6 class="text-center mt-5 d-block d-md-none">
              <strong>
                一致する会員名は検出できませんでした
              </strong>
            </h6>
          <% end %>
        </div>

      <!--投稿名の検索一覧-->
      <% elsif @range == "PostCoffee" %>
        <h4 class="col-md-6 col-lg-5 col-xl-5 py-1 mt-2 back-text shadow">
          <strong>
            投稿名 『<%= params[:word].truncate(10) %>』
          </strong>
        </h4>

        <!--全体の数とページの数を表示-->
        <div class="col-sm-5 col-lg-6 col-xl-5 list-top-all mt-3">
          <%= page_entries_info(@post_coffees) %>
        </div>

        <div class="col-12 mx-auto">
          <!--一覧一部テンプレート-->
          <% if @post_coffees.present? %>
            <%= render 'admin/post_coffees/post_list' %>
          <% else %>

            <!--パソコンの表示-->
            <h3 class="text-center mt-5 d-none d-lg-block">
              <strong>
                一致する投稿名は検出できませんでした
              </strong>
            </h3>

            <!--タブレットの表示-->
            <h4 class="text-center mt-5 d-none d-md-block d-lg-none">
              <strong>
                一致する投稿名は検出できませんでした
              </strong>
            </h4>

            <!--スマホの表示-->
            <h6 class="text-center mt-5 d-block d-md-none">
              <strong>
                一致する投稿名は検出できませんでした
              </strong>
            </h6>
          <% end %>
        </div>

      <!--コメント内容の検索一覧-->
      <% else %>
        <h4 class="col-md-8 col-lg-7 col-xl-5 py-1 mt-2 back-text shadow">
          <strong>
            コメント内容 『<%= params[:word].truncate(10) %>』
          </strong>
        </h4>

        <!--全体の数とページの数を表示-->
        <div class="col-sm-5 col-lg-6 col-xl-5 list-top-all mt-3">
          <%= page_entries_info(@coffee_comments) %>
        </div>

        <div class="col-12 mx-auto">
          <!--一覧一部テンプレート-->
          <% if @coffee_comments.present? %>
            <%= render 'admin/coffee_comments/comment_list' %>
          <% else %>

            <!--パソコンの表示-->
            <h3 class="text-center mt-5 d-none d-lg-block">
              <strong>
                一致するコメント内容は検出できませんでした
              </strong>
            </h3>

            <!--タブレットの表示-->
            <h4 class="text-center mt-5 d-none d-md-block d-lg-none">
              <strong>
                一致するコメント内容は検出できませんでした
              </strong>
            </h4>

            <!--スマホの表示-->
            <h6 class="text-center mt-5 d-block d-md-none">
              <strong>
                一致するコメント内容は検出できませんでした
              </strong>
            </h6>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!--会員検索一覧ページネーション-->
  <% if @range == "User" %>
    <div class="mx-auto mt-3 pb-5">
      <%= paginate @users %>
    </div>
  <!--投稿検索一覧ページネーション-->
  <% elsif @range == "PostCoffee" %>
    <div class="mx-auto mt-3 pb-5">
      <%= paginate @post_coffees %>
    </div>
  <!--コメント検索一覧ページネーション-->
  <% else %>
    <div class="mx-auto mt-2 pb-5">
      <%= paginate @coffee_comments %>
    </div>
  <% end %>
</div>