<% @post_coffees.each do |post_coffee| %>
  <div class="col-md-6 col-lg-4 col-xl-3 card">
    <div class="shadow">

      <!--投稿画像-->
      <%= link_to post_coffee_path(post_coffee.id) do %>
        <%= image_tag post_coffee.get_image(700,700), class: "card-img", :size => '250×250' %>
      <% end %>

      <!--投稿名-->
      <div class="text-center">
        <h4><%= post_coffee.coffee_name.truncate(10) %></h4>
      </div>

      <div class="row justify-content-end">
        <!--コメント数-->
        <i class="fa fa-comment m-1"></i>
        <div class="comment_count mr-4">
          <%= post_coffee.coffee_comments.count %>
        </div>

        <!--いいね数・いいね機能-->
        <div class="mr-4 favorite_buttons_<%= post_coffee.id %>">
          <%= render "public/favorites/favorite", post_coffee: post_coffee %>
        </div>
      </div>

    </div>
  </div>
<% end %>