<div class="container">
  <h4 class="col-md-4 col-lg-4 col-xl-3 py-1 mt-2 back-text shadow">
    <strong>
      投稿編集
    </strong>
  </h4>

    <div class="row form-bottom pb-5">
      <div class="col-sm-8 col-md-10 col-lg-7 col-xl-5 mx-auto px-2 py-3 shadow back-background border-all">

        <%= form_with model: @post_coffee do |f| %>

          <!--エラーメッセージ表示-->
          <%= render 'layouts/error_messages', model: f.object %>

            <h5>投稿画像</h5>
              <%= f.file_field :image, accept: "image/*" %>

            <h5 class="mt-3">投稿名 ※25文字以内</h5>
              <%= f.text_field :coffee_name, class: "form-all", style: "width: 100%;", placeholder: "投稿名を記入して下さい" %>

            <h5 class="mt-3">珈琲の淹れ方</h5>
              <%= f.collection_select :tag_id, Tag.all, :id, :tag_name, :prompt => "選択して下さい" %>

            <h5 class="mt-3">珈琲の種類</h5>
              <%= f.collection_select :category_id, Category.all, :id, :category_name, :prompt => "選択して下さい" %>

            <h5 class="mt-3">珈琲豆の種類</h5>
              <%= f.collection_select :genre_ids, Genre.all, :id, :genre_name, {}, {class: "form-control js-example-basic-multiple", style: "width: 100%;", multiple: true, include_hidden: false} %>

            <h5 class="mt-3">投稿説明 ※200文字以内</h5>
              <%= f.text_area :coffee_explanation, class: "form-all", style: "width: 100%; padding-bottom: 6%;", placeholder: "投稿説明を記入して下さい" %>

            <h5 class="mt-3">表示状態</h5>
            <%= f.select :status, PostCoffee.statuses.keys.map { |k| [t("enums.post_coffee.status.#{k}"),k]}, {}, {class: "custom-select"} %><br>

            <div class="row justify-content-center">
              <%= f.submit "変更内容保存", class: "btn update-btn mt-2 shadow" %>
            </div>
        <% end %>

      </div>
    </div>
</div>

<!--珈琲豆の種類の複数選択できるようにする為-->
<script>
  $(document).ready(function() {
  $('.js-example-basic-multiple').select2();
  });
</script>