<div class="container">
  <h4><strong>投稿編集</strong></h4>
    <div class="row no-gutters">
      <div class="col-md-5 mx-sm-auto text-center shadow-lg py-5">
        <%= form_with model:@post_coffee,local:true do |f| %>
          <!--投稿名-->
        　<h5>投稿名</h5>
           <%= f.text_field :coffee_name %><br>

          <!--投稿説明-->
          <h5>投稿説明</h5>
           <%= f.text_area :coffee_explanation %><br>

          <h5>タグ</h5>
           <%= f.collection_select :tag_id, Tag.all, :id, :tag_name, :prompt => "選択して下さい" %>

          <h5>カテゴリー</h5>
           <%= f.collection_select :category_id, Category.all, :id, :category_name, :prompt => "選択して下さい" %>

          <h5>公開・非公開</h5>
            <%= f.label :status, "表示状態" %><br>
            <%= f.select :status,[["公開", "公開"],["非公開", "非公開"]], include_blank: "選択してください" %><br>

           <!--変更内容保存ボタン-->
         <%= f.submit '変更内容保存' %>
        <% end %>
      </div>
    </div>
</div>