<!--フラッシュメッセージ-->
<%= render 'layouts/flash_message' %>
<div class="container">
  <div class="row">
    <h4 class="py-1 mt-2 back-text col-xl-3 col-lg-3 col-mb-4 col-sm-4 shadow"><strong>投稿一覧</strong></h4>

      <div class="col-xl-3 col-lg-3 col-mb-4 col-sm-4 list-old mt-3">
        <strong>
          <%= link_to '新着順', post_coffees_path(latest: "true"), class: "latest-btn" %><%= link_to '投稿順', post_coffees_path(old: "true"), class: "old-btn" %>
        </strong>
      </div>
  </div>

    <div class="row">

      <% if @post_coffees.present? %>
        <%= render 'public/post_coffees/post_index' %>
      <% else %>

        <!--テレビ、デスクトップPCの表示-->
        <div class="mx-auto mt-5 d-none d-lg-block">
          <h3><strong>投稿はありません</strong></h3>
        </div>

        <!--ノートパソコン、タブレット、スマホの表示-->
        <div class="mx-auto mt-5 d-block d-lg-none">
          <h4><strong>投稿はありません</strong></h4>
        </div>

      <% end %>

  　</div>
</div>

<!--ページネーション-->
<div class="mx-auto mt-3 pb-5">
  <%= paginate @post_coffees, theme: 'bootstrap-5' %>
</div>