<div class="container">
  <div class="row mt-3">

    <% @post_coffees.each do |post_coffee| %>
      <div class="col-md-3 mt-3">
        <div class="card shadow-sm">
            <!--投稿画像-->
            <%= link_to post_coffee_path(post_coffee.id) do %>
               <%= image_tag post_coffee.get_image, class: "card-img" %>
             <% end %>

            <!--投稿名-->
            <div class="text-center">
              <h4><%= post_coffee.coffee_name %></h4>
            </div>

            <!--いいね機能　[非同期通信化]-->
            <div class="favorite_buttons_<%= post_coffee.id %>">
              <%= render "public/favorites/favorite", post_coffee: post_coffee %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--ページネーション-->
<div class="mt-5">
  <%= paginate @post_coffees %>
</div>