 <div class="container">
    <h4 class="col-2 py-1 mt-2 text-center text-light" style="background-color:#000;"><strong>新規投稿</strong></h4>
      <div class="row pb-5">
        <div class="mx-auto px-5 py-2 shadow-lg" style="background-color: #fff;">


        <%= form_with model: @post_coffee do |f| %>

          <!--エラーメッセージ表示-->
          <%= render 'layouts/error_messages', model: f.object %>

            <h5>投稿画像</h5>
              <%= f.file_field :image, accept: "image/*" %>

            <h5 class="mt-4">投稿名</h5>
              <%= f.text_field :coffee_name, size: "40" %>

            <h5 class="mt-4">珈琲の淹れ方</h5>
              <%= f.collection_select :tag_id, Tag.all, :id, :tag_name, :prompt => "選択して下さい" %>

            <h5 class="mt-4">珈琲の種類</h5>
              <%= f.collection_select :category_id, Category.all, :id, :category_name, :prompt => "選択して下さい" %>

            <h5 class="mt-4">珈琲豆の種類</h5>
              <%= f.collection_select :genre_ids, Genre.all, :id, :genre_name, {}, {class:"form-control js-example-basic-multiple",multiple: true, include_hidden: false} %>

           <h5 class="mt-4">投稿説明</h5>
              <%= f.text_area :coffee_explanation, size: "40x4" %>

            <h5 class="mt-4">表示状態</h5>
            <%= f.select :status, PostCoffee.statuses.keys.map { |k| [t("enums.post_coffee.status.#{k}"),k]}, {}, {class: "custom-select"} %><br>


            <div class="row justify-content-center">
           <%= f.submit "投稿", class: "btn btn-dark mt-2" %>
           </div>
        <% end %>
    </div>
</div>
</div>

<script>
  $(document).ready(function() {
  $('.js-example-basic-multiple').select2();
  });
</script>

<style>
.main {height: auto;}
</style>