<div class="container">
  <h4><strong>投稿詳細</strong></h4>
    <div class="row no-gutters">
      <div class="col-md-5 mx-sm-auto text-center shadow-lg py-5">
         <!--投稿画像-->
         <%= image_tag @post_coffee.get_image, class: "card-img" %>

         <!--投稿名-->
         <%= @post_coffee.coffee_name %>

         <!--投稿説明-->
　       <%= @post_coffee.coffee_explanation %>

　       <!--会員画像-->
         <%= image_tag @post_coffee.user.get_profile_image(100,100) %>

         <!--会員名-->
         会員名：<%= @post_coffee.user.name %><br>

         <!--コメント数-->
         コメント数：<%= @post_coffee.coffee_comments.count %>

         <!--投稿日時-->
         投稿日時：<%= @post_coffee.created_at.strftime('%Y/%m/%d') %><br>

         <!--投稿した会員のみ編集＆削除可能-->
       <% if @post_coffee.user == current_user %>
         <%= link_to "編集", edit_post_coffee_path(@post_coffee) %>
         <%= link_to "削除", post_coffee_path(@post_coffee), method: :delete, data: {confirm: "本当に削除しますか？"} %>
       <% end %>

        <!--いいね機能　[非同期通信化]-->
        <span class="favorite_buttons_<%= @post_coffee.id %>">
            <%= render "public/favorites/favorite", post_coffee: @post_coffee %>
        </span>

       <!--コメント表示-->
       <div>
          <% @post_coffee.coffee_comments.each do |coffee_comment| %>
            <%= image_tag coffee_comment.user.get_profile_image(100,100) %>
            <%= coffee_comment.user.name %>
            <%= coffee_comment.created_at.strftime('%Y/%m/%d') %><%= coffee_comment.comment %>
              <% if coffee_comment.user == current_user %>
                <%= link_to "削除", post_coffee_coffee_comment_path(coffee_comment.post_coffee, coffee_comment), method: :delete %>
              <% end %>
          <% end %>
        </div>

        <!--コメント送信-->
        <div>
          <%= form_with model: [@post_coffee, @coffee_comment] do |f| %>
            <%= f.text_area :comment, placeholder: "コメントを記入して下さい" %>
            <%= f.submit "送信" %>
          <% end %>
        </div>

      </div>
    </div>
</div>