<div class="admin-main">
  <!--フラッシュメッセージ-->
  <%= render 'layouts/flash_message' %>
    <div class="container">
      <div class="row">
        <div class="mx-auto">
          <h4 class="col-12 py-1 mt-2 back-text mx-auto"><strong>管理一覧リスト</strong></h4>
            <div class="col-12 mx-auto">
              <%= link_to "珈琲の淹れ方一覧", admin_tags_path, class: "btn admin-btn btn-block mt-5" %>
              <%= link_to "珈琲の種類一覧", admin_categorys_path, class: "btn admin-btn btn-block mt-4" %>
              <%= link_to "珈琲豆の種類一覧", admin_genres_path, class: "btn admin-btn btn-block mt-4" %>
              <%= link_to "お問合せ一覧", admin_contacts_path, class: "btn admin-btn btn-block mt-4" %>
              <%= link_to "会員一覧", admin_users_path, class: "btn admin-btn btn-block mt-4" %>
              <%= link_to "投稿一覧", admin_post_coffees_path, class: "btn admin-btn btn-block mt-4" %>
              <%= link_to "コメント一覧", admin_coffee_comments_path, class: "btn admin-btn btn-block mt-4" %>
            </div>
        </div>
      </div>
    </div>
</div>