<div class="container">
  <h4 class="col-4 py-1 mt-2 text-center text-light" style="background-color:#000;"><strong>珈琲の淹れ方一覧・追加</strong></h4>
    <div class="row no-gutters">
      <div class="col-md-6 mx-sm-auto text-center shadow-lg mt-2 pt-3 text-light" style="background-color: #556b2f;">
        <%= form_with model:@tag, url: admin_tags_path, local:true do |f| %>
          珈琲の淹れ方名
            <%= f.text_field :tag_name %>
            <%= f.submit '新規登録', class: "btn btn-secondary" %>
        <% end %>

          <table class="table table-hover mt-3" style="background-color: #fff;">
            <thead class="table-dark">
              <tr>
                <th>珈琲の淹れ方</th>
                <th></th>
              </tr>
            </thead>
          <tbody>
            <% @tags.each do |tag| %>
              <tr>
                <td>
                  <%= tag.tag_name %>
                </td>

                <td>
                  <%= link_to "編集する", edit_admin_tag_path(tag.id), class: "btn btn-dark" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>

<!--ページネーション-->
<div class="mx-auto mt-4">
  <%= paginate @tags %>
</div>