<div class="admin-main">
  <!--フラッシュメッセージ-->
  <%= render 'layouts/flash_message' %>
    <div class="container">
      <h4 class="col-sm-6 col-md-5 col-lg-3 col-xl-3 py-1 mt-2 back-text shadow">
        <strong>
          お問い合わせ一覧
        </strong>
      </h4>

        <div class="row">
          <!--対応状況絞り込みボタン-->
          <div class="ml-4">
            <% Contact.statuses.keys.each do |status| %>
              <%= link_to status, admin_contacts_path(status: status), class: "btn status-btn mt-2" %>
            <% end %>
          </div>

          <div class="col-sm-5 col-lg-6 col-xl-5 list-top-all mt-3">
            <%= page_entries_info(@contacts) %>
          </div>

          <div class="col-12 mx-auto pb-5">
            <% if @contacts.present? %>

              <table class="table shadow mt-3 table-hover back-background">
                <thead class="back-admin">
                  <tr>
                    <th class="text-light" style="width: 40%;">
                      <!--テレビ、デスクトップPCの表示-->
                      <div class="d-none d-lg-block">
                        お問い合わせ件名・日時
                      </div>

                      <!--ノートパソコン、タブレット、スマホの表示-->
                      <div class="d-block d-lg-none">
                        件名・日時
                      </div>
                    </th>

                    <th class="text-light" style="width: 30%;">
                      <!--テレビ、デスクトップPC、ノートパソコンの時のみ表示-->
                      <div class="d-none d-lg-block">
                        お問い合わせ会員名
                      </div>
                    </th>

                    <th class="text-light" style="width: 30%;">
                      対応状況
                    </th>
                  </tr>
                </thead>

              <% @contacts.each do |contact| %>
                <tbody>
                  <tr>

                    <!--お問い合わせ件名-->
                    <td>
                      <%= link_to admin_contact_path(contact.id) do %>
                        <%= contact.contact_type %>
                      <% end %>

                      <!--お問い合わせ日時-->
                      <div class="mt-5"><%= l contact.created_at %></div>
                    </td>

                    <!--お問い合わせ会員名-->
                    <td>
                      <!--テレビ、デスクトップPC、ノートパソコンの時のみ表示-->
                      <div class="d-none d-lg-block">
                        <%= link_to admin_user_path(contact.user.id) do %>
                          <%= contact.user.name %>
                        <% end %>
                      </div>
                    </td>

                    <!--対応状況-->
                    <td><%= contact.status %></td>
                  </tr>
                </tbody>
              <% end %>
              </table>

            <% else %>
              <!--テレビ、デスクトップPCの表示-->
              <h3 class="text-center mt-5 d-none d-lg-block">
                <strong>
                  まだお問い合わせはありません
                </strong>
              </h3>

              <!--ノートパソコン、タブレット、スマホの表示-->
              <h4 class="text-center mt-5 d-block d-lg-none">
                <strong>
                  まだお問い合わせはありません
                </strong>
              </h4>
            <% end %>

          </div>
        </div>
    </div>

  <!--ページネーション-->
  <div class="mx-auto mt-3 pb-5">
    <%= paginate @contacts, theme: 'bootstrap-5' %>
  </div>
</div>