<div class="admin-main">
<div class="container">
  <h4 class="col-md-4 col-lg-4 col-xl-3 py-1 mt-2 back-text"><strong>お問合せ詳細</strong></h4>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">

      <table class="table shadow-lg mt-4 table-hover back-background">
        <thead class="table-active back-admin">
          <tr>
            <th class="text-light">お問合せ件名</th>
            <th class="text-light">内容</th>
            <th class="text-light">お問合せ日時</th>
            <th class="text-light">対応状況</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @contact.contact_type %></td>
            <td><%= @contact.content %></td>
            <td><%= l @contact.created_at %></td>
            <td>
              <%= form_with model: @contact, url: admin_contact_path, local: true do |f| %>
                <%= f.select :status, Contact.statuses.keys.map { |k| [t("enums.contact.status.#{k}"),k]}, {}, {class: "custom-select"} %>
            </td>
          </tr>
        </tbody>
     </table>
      <div class="actions text-center">
        <%= f.submit "変更内容保存", class: "btn btn-dark mt-2 shadow" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
</div>