<table class="table shadow mt-4 table-hover back-background">
  <thead class="back-admin">
    <tr>
      <th class="text-light" style="width: 10%;">
        <!--パソコンの表示-->
        <div class="d-none d-lg-block">
          会員ID
        </div>

        <!--タブレット、スマホの表示-->
        <div class="d-block d-lg-none">
          ID
        </div>
      </th>

      <th class="text-light" style="width: 30%;">
        <!--パソコンの時のみ表示-->
        <div class="d-none d-lg-block">
          会員画像・名前
        </div>

        <!--タブレット、スマホの表示-->
        <div class="d-block d-lg-none">
          画像・名前
        </div>
      </th>

      <th class="text-light" style="width: 30%;">
        <!--パソコン、タブレットの時のみ表示-->
        <div class="d-none d-sm-block">
          メールアドレス
        </div>
      </th>

      <th style="width: 30%;">
        <!--パソコンの表示-->
        <div class="d-none d-lg-block">
          会員状況
        </div>

        <!--タブレット、スマホの表示-->
        <div class="d-block d-lg-none">
          状況
        </div>
      </th>
    </tr>
  </thead>

<% @users.each do |user| %>
  <tbody>
    <tr>

      <!--会員ID-->
      <td>
        <!--パソコンの表示-->
        <div class="d-none d-lg-block">
          <%= user.id %>
        </div>

        <!--タブレット、スマホの表示-->
        <div class="d-block d-lg-none">
          <%= user.id %>
        </div>
      </td>

      <td>
        <!--会員画像-->
        <%= image_tag user.get_profile_image(300, 300), class: "rounded-circle", :size => '100' %>

        <!--会員名-->
        <div class="mt-2">
          <%= link_to admin_user_path(user.id) do %>
          <!--パソコンの表示-->
          <div class="d-none d-md-block">
            <%= user.name %>
          </div>

          <!--タブレット、スマホの表示-->
          <div class="d-block d-md-none">
            <%= user.name.truncate(6) %>
          </div>
          <% end %>
        </div>
      </td>

      <!--会員メールアドレス-->
      <td>
        <!--パソコン、タブレットの時のみ表示-->
        <div class="d-none d-sm-block">
          <%= user.email %>
        </div>
      </td>

      <!--会員ステータス-->
      <% if user.is_deleted == true %>
        <td class="text-primary font-weight-bold">
          退会
        </td>
      <% else %>
        <td class="text-danger font-weight-bold">
          有効
        </td>
      <% end %>

    </tr>
  </tbody>
<% end %>
</table>