<div class="container">
  <h4><strong><%= @user.name %>さんの会員情報編集</strong></h4>
    <div class="row no-gutters">
      <div class="col-md-5 mx-sm-auto text-center shadow-lg py-5">
　      <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>

          <table class="table　table-borderless table-sm ml-5">
            <tr>
              <th>会員ID</th><td><%= @user.id %></td>
            </tr>

            <tr>
              <th>名前</th>
              <td><%= @user.name %></td>
              <td><%= image_tag @user.get_profile_image(100,100) %></td>
            </tr>

            <tr>
              <th></th>
                <td><%= f.radio_button :is_deleted, false, checked: true %>
                有効</td>
                <td><%= f.radio_button :is_deleted, true%>
                退会</td>
            </tr>
          </table>

            <div class="actions mt-3 text-center">
              <%= f.submit "変更を保存", class: "btn btn-success mt-2" %>
            </div>
          <% end %>
        </div>
　  </div>
</div>