<div class="admin-main">
  <div class="container pb-5">
    <h4 class="col-md-11 col-lg-8 col-xl-6 py-1 mt-2 mx-auto back-text shadow">
      <!--パソコンの表示-->
      <strong class="d-none d-md-block">
        <%= @user.name %>のマイページ
      </strong>

      <!--タブレット、スマホの表示-->
      <strong class="d-block d-md-none">
        <%= @user.name.truncate(6) %>のマイページ
      </strong>
    </h4>

      <div class="row justify-content-center pb-5 mt-4">
        <div class="col-sm-10 col-md-9 col-lg-4 col-xl-3 back-background shadow">

　        <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>

            <!--会員画像(パソコン[大]の表示)-->
            <div class="d-none d-xl-block">
              <%= image_tag @user.get_profile_image(500,500), class: "card-img mt-3 user-image", :size => '255' %>
            </div>

            <!--会員画像(パソコン[小]の表示)-->
            <div class="d-none d-lg-block d-xl-none">
              <%= image_tag @user.get_profile_image(500,500), class: "card-img mt-3 user-image", :size => '290' %>
            </div>

            <!--会員画像(タブレット[大]の表示)-->
            <div class="d-none d-md-block d-lg-none">
              <%= image_tag @user.get_profile_image(500,500), class: "card-img mt-3 user-image", :size => '510' %>
            </div>

            <!--会員画像(タブレット[小]の表示)-->
            <div class="d-none d-sm-block d-md-none">
              <%= image_tag @user.get_profile_image(500,500), class: "card-img mt-3 user-image", :size => '420' %>
            </div>

            <!--会員画像(スマホの表示)-->
            <div class="d-block d-sm-none">
              <%= image_tag @user.get_profile_image(500,500), class: "card-img mt-3 user-image", :size => '350' %>
            </div>

            <!--会員ステータス-->
            <div class="row justify-content-center my-2">
              <%= f.radio_button :is_deleted, false, checked: true %>有効|
              <%= f.radio_button :is_deleted, true %>退会
            </div>

            <div class="actions text-center mb-3">
              <%= f.submit "変更内容保存", class: "btn update-btn mt-2 shadow" %>
            </div>
          </div>

          <div class="col-sm-10 col-md-9 col-lg-6 col-xl-5 pb-5 back-background shadow">

            <h5 class="mt-4 mb-5">会員名<br>
              <%= @user.name %>
            </h5>

            <h5 class="text-word-break">自己紹介文<br>
              <%= @user.introduction %>
            </h5>

            <h5 class="mt-5 mb-5">メールアドレス<br>
              <%= @user.email %>
            </h5>

          </div>
          <% end %>
      </div>
  </div>
</div>