<div class="container">
  <h4><strong><%= @user.name %>さんの会員詳細</strong></h4>
    <div class="row no-gutters">
      <div class="col-md-5 mx-sm-auto text-center shadow-lg py-5">

        <table class="table shadow-lg">
          <tr>
            <th>会員ID</th>
            <td><%= @user.id %></td>
          </tr>

          <tr>
            <th>会員名</th>
            <td><%= @user.name %></td>
          </tr>

          <tr>
            <th>会員画像</th>
            <td><%= image_tag @user.get_profile_image(100, 100) %></td>
          </tr>

          <tr>
            <th>会員ステータス</th>
              <!--% if @user.is_deleted == true %>-->
              <!--  <td class="text-secondary font-weight-bold">退会</td>-->
              <!--% else %>-->
              <!--  <td class="text-success font-weight-bold">有効</td>-->
              <!--% end %>-->
          </tr>
        </table>

        <p class="text-center">
          <%= link_to "編集する", edit_admin_user_path(@user.id), class: 'btn btn-success m-3' %>
        </p>
      </div>
    </div>
</div>