<!--フラッシュメッセージ-->
<%= render 'layouts/flash_message' %>

<div class="container">
  <h4 class="col-sm-4 col-md-4 col-lg-3 col-xl-2 py-1 mt-2 mx-auto back-text shadow">
    <strong>
      <i class="fas fa-bell"></i>通知
    </strong>
  </h4>

    <div class="mt-2 mb-4 text-center">
      <%= link_to "全削除", notification_path(@notifications), method: :delete, data: {confirm: "本当に全て削除しますか？"}, class: "btn destroy-btn shadow" %>

      <h5 class="mt-3 mx-auto">
        <%= page_entries_info(@notifications) %>
      </h5>
    </div>

      <div class='row justify-content-center'>
        <% if @notifications.exists? %>
          <h5><%= render @notifications %></h5>
        <% else %>

          <!--パソコンの表示-->
          <div class="mt-5 d-none d-lg-block">
            <h3>
              <strong>
                通知はありません
              </strong>
            </h3>
          </div>

          <!--タブレット、スマホの表示-->
          <div class="mt-5 d-block d-lg-none">
            <h4>
              <strong>
                通知はありません
              </strong>
            </h4>
          </div>

        <% end %>
      </div>
</div>

<!--ページネーション-->
<div class="mx-auto mt-2 pb-5">
  <%= paginate @notifications, theme: 'bootstrap-5' %>
</div>