<table class="table shadow mt-4 table-hover back-background">
  <thead class="table-active back-admin">
    <tr>
      <th class="text-light">会員画像</th>
      <th class="text-light" style="width: 30%">会員名</th>
      <th colspan="4"></th>
    </tr>
  </thead>


<% @users.each do |user| %>
  <% if user.name != "ゲストユーザー" %>
    <tbody>
      <tr>
        <td><%= image_tag user.get_profile_image(300, 300), class: "rounded-circle", :size => '100' %></td>
        <td><%= user.name %></td>

        <td>フォロー数：<%= user.followings.count %></td>

        <td><div id="followers_<%= user.id %>">フォロワー数：<%= user.followers.count %></div></td>

        <!--フォロー・フォロワーボタン-->
        <td id="follow_buttons_<%= user.id %>">
          <%= render 'public/relationships/follow', user: user %>
        </td>

        <td><%= link_to "詳細", user_path(user.id), class: "btn btn-sm show-btn shadow" %></td>
      </tr>
    </tbody>
  <% end %>
<% end %>
</table>