<table class="table shadow mt-4 table-hover back-background">
  <thead class="back-admin">
    <tr>
      <th class="text-light" style="width: 30%;">
        <!--パソコンの表示-->
        <div class="d-none d-lg-block">
          会員画像・名前
        </div>

        <!--タブレット、スマホの表示-->
        <div class="d-block d-lg-none">
          画像・名前
        </div>
      </th>

      <th class="text-light" style="width: 50%;">
        <!--パソコンの時のみ表示-->
        <div class="d-none d-lg-block">
          自己紹介文
        </div>
      </th>

      <th style="width: 20%;"></th>
    </tr>
  </thead>

<% @users.each do |user| %>
  <tbody>
    <tr>

      <td>
        <!--会員画像-->
        <%= image_tag user.get_profile_image(300, 300), class: "rounded-circle", :size => '100' %>

        <div class="mt-2 ml-3">
          <%= link_to user_path(user.id) do %>
            <!--会員名(パソコンの表示)-->
            <div class="table-text-indent d-none d-lg-block">
              <%= user.name %>
            </div>

            <!--会員名(タブレット、スマホの表示)-->
            <div class="table-text-indent d-block d-lg-none">
              <%= user.name.truncate(6) %>
            </div>
          <% end %>
        </div>
      </td>

      <!--自己紹介文(パソコンの時のみ表示)-->
      <td>
        <div class="d-none d-lg-block text-word-break">
          <%= user.introduction %>
        </div>
      </td>

      <!--フォローボタン-->
      <td id="follow_buttons_<%= user.id %>">
        <%= render 'public/relationships/follow', user: user %>
      </td>

    </tr>
  </tbody>
<% end %>
</table>