<table class="table shadow-lg mt-4 table-hover back-background">
  <thead class="table-active back-admin">
    <tr>
      <th class="text-light">会員画像</th>
      <th class="text-light" style="width: 30%">会員名</th>
      <th colspan="4"></th>
    </tr>
  </thead>
<% @users.each do |user| %>
  <tbody>
    <tr>
      <td><%= image_tag user.get_profile_image(100, 100), class: "rounded-circle", :size => '100' %></td>
      <td><%= user.name %></td>

      <td>
        <% if user.name != "ゲストユーザー" %>
          フォロー数：<%= user.followers.count %>
        <% end %>
      </td>

      <td>
        <% if user.name != "ゲストユーザー" %>
          フォロワー数：<%= user.followings.count %>
        <% end %>
      </td>

      <td>
        <!--フォロー・フォロワーボタン-->
        <% if user.name != "ゲストユーザー" %>
          <% if user.is_followed_by?(current_user) %>
            <%= link_to user_relationships_path(user), method: :delete, class: 'btn follower-btn' do %>
              フォロー外す
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(user), method: :post, class: 'btn followed-btn' do %>
              フォローする
            <% end %>
          <% end %>
        <% end %>
      </td>

      <td><%= link_to "詳細", user_path(user.id), class: "btn btn-sm show-btn" %></td>
    </tr>
  </tbody>
<% end %>
</table>