<div class="container">
  <h4 class="col-md-5 col-lg-4 col-xl-3 py-2 mt-2 back-text"><strong>会員情報編集</strong></h4>
    <div class="row no-gutters pb-5">
      <div class="col-xl-5 col-lg-8 col-md-10 mx-auto shadow-lg py-3 px-5 back-background border-all">
         <%= form_with model: @user do |f| %>

          <!--エラーメッセージ表示-->
          <%= render 'layouts/error_messages', model: f.object %>

           <!--会員画像-->
       　   <h5>会員画像</h5>
             <%= f.file_field :profile_image, accept: "image/*" ,class: "mb-4" %>

           <!--会員名-->
       　   <h5>会員名</h5>
             <%= f.text_field :name, autofocus: true , class: "mb-4 form-all", size: "35" %>

           <!--自己紹介文-->
       　   <h5>自己紹介文</h5>
             <%= f.text_area :introduction, autofocus: true , class: "mb-4 form-all", size: "35x4" %>

           <!--メールアドレス-->
       　   <h5>メールアドレス</h5>
             <%= f.text_field :email , class: "mb-4 form-all", size: "35" %>

            <div class="row justify-content-center">
              <!--変更内容保存ボタン-->
               <%= f.submit "変更内容保存", class: "btn update-btn mr-3" %>

               <!--退会ボタン-->
               <%= link_to unsubscribe_users_path do %>
                 <button type="button" class="btn unsubscribe-btn">退会する</button>
               <% end %>
            </div>

         <% end %>
      </div>
    </div>
</div>