<div class="container">
  <h4 class="col-md-5 col-lg-4 col-xl-3 py-2 mt-2 back-text shadow">
    <strong>
      会員情報編集
    </strong>
  </h4>

    <div class="row no-gutters pb-5">
      <div class="col-sm-8 col-md-10 col-lg-8 col-xl-5 mx-auto shadow py-2 px-3 back-background border-all">
         <%= form_with model: @user do |f| %>

          <!--エラーメッセージ表示-->
          <%= render 'layouts/error_messages', model: f.object %>

           <!--会員画像-->
       　   <h5>会員画像</h5>
             <%= f.file_field :profile_image, accept: "image/*" %>

           <!--会員名-->
       　   <h5 class="mt-3">会員名 ※10文字以内</h5>
            <%= f.text_field :name, autofocus: true , class: "form-all", style: "width: 100%;", placeholder: "(例)珈琲太郎" %>

           <!--自己紹介文-->
       　   <h5  class="mt-3">自己紹介文 ※100文字以内</h5>
            <%= f.text_area :introduction, autofocus: true , class: "form-all", style: "width: 100%; padding-bottom: 15%;", placeholder: "自己紹介文を記入して下さい" %>

           <!--メールアドレス-->
       　   <h5  class="mt-3">メールアドレス</h5>
            <%= f.text_field :email , class: "form-all", style: "width: 100%;", placeholder: "(例)Coffee.11@post.com" %>

            <div class="row justify-content-center mt-3">
              <!--変更内容保存ボタン-->
              <%= f.submit "変更内容保存", class: "btn update-btn mr-3 shadow mb-3" %>

              <!--退会ボタン-->
              <%= link_to "退会する", unsubscribe_users_path, class: "btn unsubscribe-btn shadow mb-3" %>
            </div>

         <% end %>
      </div>
    </div>
</div>