<div class="container">
  <div class="row">
    <% if @user == current_user %>
      <h4 class="col-md-6 col-lg-4 col-xl-3 py-1 mt-2 back-text shadow">
        <strong>
          お気に入り一覧
        </strong>
      </h4>
    <% else %>
      <h4 class="col-md-12 col-lg-8 col-xl-6 py-1 mt-2 back-text shadow">
        <!--パソコンの表示-->
        <strong class="d-none d-md-block">
          <%= @user.name %>のお気に入り一覧
        </strong>

        <!--タブレット、スマホの表示-->
        <strong class="d-block d-md-none">
          <%= @user.name.truncate(6) %>のお気に入り一覧
        </strong>
      </h4>
    <% end %>

      <!--全体の数とページの数を表示-->
      <div class="col-sm-5 col-lg-6 col-xl-5 list-top-all mt-3">
        <%= page_entries_info(@post_coffees) %>
      </div>
  </div>

    <div class="row">
      <!--一覧一部テンプレート-->
      <% if @post_coffees.present? %>
        <%= render 'public/post_coffees/post_index' %>
      <% else %>

        <!--パソコンの表示-->
        <div class="mx-auto mt-5 d-none d-lg-block">
          <h3>
            <strong>
              お気に入りの投稿はありません
            </strong>
          </h3>
        </div>

        <!--タブレット、スマホの表示-->
        <div class="mx-auto mt-5 d-block d-lg-none">
          <h4>
            <strong>
              お気に入りの投稿はありません
            </strong>
          </h4>
        </div>

      <% end %>

  　</div>
</div>

<!--ページネーション-->
<div class="mx-auto mt-3 pb-5">
  <%= paginate @post_coffees, theme: 'bootstrap-5' %>
</div>