<!--フラッシュメッセージ-->
<%= render 'layouts/flash_message' %>

<div class="container">
  <h4 class="col-md-4 col-lg-4 col-xl-3 py-1 mt-2 mx-auto back-text shadow">
    <strong>
      マイページ
    </strong>
  </h4>

    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-9 col-lg-4 col-xl-3 back-background shadow">

          <!--会員画像(パソコンの表示)-->
          <div class="d-none d-lg-block">
            <%= image_tag @user.get_profile_image(500,500), class: "card-img mt-3 user-image", :size => '250' %>
          </div>

          <!--会員画像(タブレットの表示)-->
          <div class="d-none d-md-block d-lg-none">
            <%= image_tag @user.get_profile_image(500,500), class: "card-img mt-3 user-image", :size => '420' %>
          </div>

          <!--会員画像(スマホの表示)-->
          <div class="d-sm-block d-md-none">
            <%= image_tag @user.get_profile_image(500,500), class: "card-img mt-3 user-image", :size => '360' %>
          </div>

          <div class="row justify-content-center my-2">
            <!--ゲストユーザーは非表示-->
            <% if @user.name != "ゲストユーザー" %>
              <%= link_to "フォロー数：#{@user.followings.count}", followings_user_path(@user) %> | <div id="followers_<%= @user.id %>"><%= link_to "フォロワー数：#{@user.followers.count}", followers_user_path(@user) %></div>
            <% end %>

          </div>

          <div class="row justify-content-center my-2">

            <!--ゲストユーザーは非表示-->
            <% if @user.name != "ゲストユーザー" %>

              <!--ログインしている会員のみ表示、以外ならフォローボタン表示-->
              <% if @user == current_user %>

                <!--編集ボタン-->
                <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn edit-btn shadow" %>
              <% else %>

                <!--フォローボタン-->
                <div id="follow_buttons_<%= @user.id %>">
                 <%= render 'public/relationships/follow', user: @user %>
                </div>

              <% end %>
            <% end %>
          </div>

        </div>

      <div class="col-sm-10 col-md-9 col-lg-6 col-xl-5 pb-5 back-background shadow">

          <h5 class="mt-4 mb-5">会員名<br>
            <%= @user.name %>
          </h5>

          <h5 class="text-word-break">自己紹介文<br>
            <%= @user.introduction %>
          </h5>

       </div>

    </div>

    <!--会員ボタンリスト-->
    <div class="row mt-2 justify-content-center">
      <div class="col-xl-3 col-lg-4 col-md-5">
        <%= link_to "お気に入り投稿一覧", favorites_user_path(@user), class: "btn user-show-btn btn-block shadow" %>

        <% if @user == current_user %>
          <%= link_to "下書き一覧", confirm_post_coffees_path, class: "btn user-show-btn btn-block mb-2 shadow" %>
        <% end %>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-5">
        <%= link_to "会員の投稿一覧", post_list_user_path, class: "btn user-show-btn btn-block shadow" %>

      <!--ゲストユーザーは非表示-->
      <% if @user.name != "ゲストユーザー" %>
        <% if @user == current_user %>
          <%= link_to "お問い合わせ", contacts_path, class: "btn user-show-btn btn-block shadow" %>
        <% end %>
      <% end %>
      </div>
    </div>

</div>



<!--会員の投稿一覧-->
<div class="container">
  <h4 class="col-md-4 col-lg-4 col-xl-3 py-1 back-text shadow mt-2">
    <strong>
      新着投稿
    </strong>
  </h4>

    <div class="row pb-5">

      <% if @post_coffees.present? %>
        <% @post_coffees.last(6).each do |post_coffee| %>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 card shadow">

            <!--投稿画像(パソコンの表示)-->
            <div class="d-none d-xl-block">
              <%= link_to post_coffee_path(post_coffee.id) do %>
                <%= image_tag post_coffee.get_image, class: "card-img", :size => '148' %>
              <% end %>
            </div>

            <!--投稿画像(タブレットの表示)-->
            <div class="d-none d-md-block d-xl-none">
              <%= link_to post_coffee_path(post_coffee.id) do %>
                <%= image_tag post_coffee.get_image, class: "card-img", :size => '250' %>
              <% end %>
            </div>

            <!--投稿画像(スマホの表示)-->
            <div class="d-sm-block d-md-none">
              <%= link_to post_coffee_path(post_coffee.id) do %>
                <%= image_tag post_coffee.get_image, class: "card-img", :size => '400' %>
              <% end %>
            </div>

            <!--投稿名-->
            <div class="text-center">
              <h5><%= post_coffee.coffee_name.truncate(8) %></h5>
            </div>

            <div class="row justify-content-end">
              <!--コメント数-->
              <div class="mr-4">
                <i class="fa fa-comment"></i><%= post_coffee.coffee_comments.count %>
              </div>

              <!--お気に入りボタン-->
              <div class="mr-4">
                <div id="favorite_buttons_<%= post_coffee.id %>">
                  <%= render "public/favorites/favorite", post_coffee: post_coffee %>
                </div>
              </div>
        　   </div>

          </div>
        <% end %>

      <% else %>

        <!--パソコンの表示-->
        <div class="mx-auto mt-3 d-none d-lg-block">
          <h3>
            <strong>
              新着の投稿はありません
            </strong>
          </h3>
        </div>

        <!--タブレット、スマホの表示-->
        <div class="mx-auto mt-3 d-block d-lg-none">
          <h4>
            <strong>
              新着の投稿はありません
            </strong>
          </h4>
        </div>

      <% end %>

  　</div>
</div>