<!--フラッシュメッセージ-->
<%= render 'layouts/flash_message' %>
<div class="container">
  <h4 class="col-md-4 col-lg-4 col-xl-3 py-1 mt-2 mx-auto back-text"><strong>会員の詳細</strong></h4>
    <div class="row mt-2 justify-content-center">
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8 shadow back-background">
        <div class="shadow back-background">

          <!--会員画像-->
          <%= image_tag @user.get_profile_image(500,500), class: "card-img rounded-circle", :size => '250' %>

          <div class="row justify-content-center mt-3">
            <!--編集ボタン-->
            <% if @user.name != "ゲストユーザー" %>
              <% if @user == current_user %>
                <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn edit-btn mb-3" %>
              <% end %>
            <% end %>

          </div>

        </div>
      </div>
      <div class="col-xl-7 col-lg-8 col-md-7 back-show-list">
          <!--会員名-->
          <h5 class="text-center mt-4"><%= @user.name %></h5>
       </div>
    </div>
</div>



<!--会員の投稿一覧-->
<div class="container">
    <div class="row justify-content-center mt-4">
     <%= link_to "お気に入り投稿一覧", favorites_user_path(@user), class: "btn user-show-btn mb-3" %>
     <%= link_to "会員の投稿一覧", post_list_user_path, class: "btn user-show-btn mb-3 mx-4" %>
     <% if @user == current_user %>
      <%= link_to "下書き一覧", confirm_post_coffees_path, class: "btn user-show-btn mb-3 mr-4" %>
      <%= link_to "お問い合せ一覧", confirm_post_coffees_path, class: "btn user-show-btn mb-3" %>
     <% end %>
   </div>
  <h4 class="col-md-4 col-lg-4 col-xl-3 py-1 back-text"><strong>新着投稿</strong></h4>
    <div class="row pb-5">

      <% if @post_coffees.present? %>
        <% @post_coffees.last(6).each do |post_coffee| %>
          <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 mt-2 card">
            <div class="shadow">

              <!--投稿画像-->
              <%= link_to post_coffee_path(post_coffee.id) do %>
                <%= image_tag post_coffee.get_image(500,500), class: "card-img", :size => '148' %>
              <% end %>

              <!--投稿名-->
              <div class="text-center">
                <h5><%= post_coffee.coffee_name %></h5>
              </div>

              <div class="row justify-content-end">
                <!--コメント数-->
                <div class="mr-4">
                  <i class="fa fa-comment"></i><%= post_coffee.coffee_comments.count %>
                </div>

                <!--いいね数・いいね機能-->
                <div class="mr-4 favorite_buttons_<%= post_coffee.id %>">
                  <%= render "public/favorites/favorite", post_coffee: post_coffee %>
                </div>
              </div>

        　   </div>
          </div>
        <% end %>

      <% else %>
        <div class="mx-auto mt-5">
          <h3><strong>新着の投稿はありません</strong></h3>
        </div>
      <% end %>

  　</div>
</div>