<div class="container">
  <h4><strong>マイページ</strong></h4>
    <div class="row no-gutters">
      <div class="col-md-5 mx-sm-auto text-center shadow-lg py-5">
        <!--会員名-->
        <h3><%= @user.name %></h3>

        <!--会員画像-->
        <%= image_tag @user.get_profile_image(100,100) %>

          <!--編集ボタン-->
          <% if @user.name != "guestuser" %>
            <% if @user == current_user %><br>
              <%= link_to "プロフィール編集", edit_user_path(@user) %>
            <% end %>
          <% end %>

          <!--いいねした投稿一覧-->
          <%= link_to "いいねした投稿", favorites_user_path(@user) %>
      </div>
    </div>
</div>


<!--投稿一覧を部分テンプレート化-->
<%= render 'public/post_coffees/list', post_coffees: @post_coffees %>