<%= render 'layouts/flash_message' %>
<div class="container">
  <h4 class="col-3 py-1 mt-2 mx-auto back-text">会員の詳細<strong></strong></h4>
    <div class="row mt-2 justify-content-center">
      <div class="col-md-3 shadow back-background">
        <div class="shadow" style="background-color: #fff;">

          <!--会員画像-->
          <%= image_tag @user.get_profile_image(500,500), class: "card-img" %>

          <!--会員名-->
          <h5 class="text-center"><%= @user.name %></h5>

          <div class="row justify-content-center">
            <!--編集ボタン-->
            <% if @user.name != "guestuser" %>
              <% if @user == current_user %><br>
                <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn user-edit mb-3" %>
              <% end %>
            <% end %>

          </div>

        </div>
      </div>
    </div>
</div>



<!--会員の投稿一覧-->
<div class="container">
    <div class="row justify-content-center mt-4">
     <%= link_to "お気に入り投稿", favorites_user_path(@user), class: "btn user-favorite mb-3" %>
     <%= link_to "会員の投稿一覧", post_list_user_path, class: "btn user-post_list mb-3 mx-4" %>
     <%= link_to "下書き一覧", confirm_post_coffees_path, class: "btn user-confirm mb-3" %>
   </div>
  <h4 class="col-2 py-1 text-center text-light" style="background-color:#000;"><strong>新着投稿</strong></h4>
    <div class="row">

      <% if @post_coffees.present? %>
        <% @post_coffees.last(6).each do |post_coffee| %>
          <div class="col-md-2 mt-2 card">
            <div class="shadow">

              <!--投稿画像-->
              <%= link_to post_coffee_path(post_coffee.id) do %>
                <%= image_tag post_coffee.get_image, class: "card-img" %>
              <% end %>

              <!--投稿名-->
              <div class="text-center">
                <h5><%= post_coffee.coffee_name %></h5>
              </div>

              <div class="row justify-content-end">
                <!--コメント数-->
                <div class="mr-4 mt-3">
                  <i class="fa fa-comment"></i><%= post_coffee.coffee_comments.count %>
                </div>

                <!--いいね数・いいね機能-->
                <div class="mr-4 mt-3 favorite_buttons_<%= post_coffee.id %>">
                  <%= render "public/favorites/favorite", post_coffee: post_coffee %>
                </div>
              </div>

        　   </div>
          </div>
        <% end %>

      <% else %>
        <div class="mx-auto mt-5">
          <h3><strong>新着の投稿はありません</h3>
        </div>
      <% end %>

  　</div>
</div>