<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000;">
	  <% if user_signed_in? %>
	    <a class="navbar-brand ml-5" href="/about"><%= image_tag 'Logo.png', :size => '100x50' %></a>
	  <% elsif admin_signed_in? %>
	    <a class="navbar-brand ml-5" href="/admin"><%= image_tag 'Logo.png', :size => '100x50' %></a>
	  <% else %>
      <a class="navbar-brand ml-5" href="/"><%= image_tag 'Logo.png', :size => '100x50' %></a>
    <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item mr-5">
	              <%= link_to user_path(current_user.id), class: 'nav-link text-light' do %>
	                <i class="fa fa-user-circle"></i>マイページ
	              <% end %>
              </li>

              <li class="nav-item mr-5">
	              <%= link_to new_post_coffee_path, class: 'nav-link text-light' do %>
	                <i class="fa fa-plus-square"></i>新規投稿
	              <% end %>
              </li>

              <li class="nav-item mr-5">
	              <%= link_to post_coffees_path, class: 'nav-link text-light' do %>
	                <i class="fa fa-list"></i>投稿一覧
	              <% end %>
              </li>

	            <li class="nav-item mr-5">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                  <i class="fa fa-sign-out-alt"></i>ログアウト
                <% end %>
	            </li>

	          <% elsif admin_signed_in? %>
	            <li class="nav-item mr-5">
     	          <%= link_to "会員一覧",  admin_path, class: 'nav-link text-light' %>
	            </li>

	            <li class="nav-item mr-5">
	              <%= link_to "コメント一覧", admin_coffee_comments_path, class: 'nav-link text-light' %>
        	    </li>

	            <li class="nav-item mr-5">
	              <%= link_to "珈琲の淹れ方一覧", admin_tags_path, class: 'nav-link text-light' %>
        	    </li>

        	    <li class="nav-item mr-5">
	              <%= link_to "珈琲の種類一覧", admin_categorys_path, class: 'nav-link text-light' %>
        	    </li>

        	    <li class="nav-item mr-5">
	              <%= link_to "珈琲豆の種類一覧", admin_genres_path, class: 'nav-link text-light' %>
        	    </li>

	            <li class="nav-item mr-5">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
	            </li>

	           <% else %>
	             <li class="nav-item mr-5">
	               <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: 'nav-link text-light' %>
        	     </li>

	             <li class="nav-item mr-5">
	               <%= link_to "新規登録",  new_user_registration_path, class: 'nav-link text-light' %>
        	     </li>

	             <li class="nav-item mr-5">
	               <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-light' %>
	             </li>
	           <% end %>
	         </ul>
	       </div>

  </nav>
</header>