<!DOCTYPE html>
<html>
  <head>
    <title>Coffee_Record</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
     <% unless current_page?(root_path) %><!--検索機能をログイン済みのみに表示するため-->
      <% if user_signed_in? %>
        <div class="search-back">
          <div class='py-2 container'>
            <div class="row">

              <!--パソコン画面用の設定-->
              <div class="d-none d-md-block mr-auto">
                <% if unchecked_notifications.any? %>
                  <%= link_to notifications_path, class: "nav-link text-danger" do %>
                    <i class="fas fa-bell fa-lg mr-2"></i>通知
                  <% end %>
                <% else %>
                  <%= link_to notifications_path, class: "nav-link text-secondary" do %>
                    <i class="fas fa-bell fa-lg mr-2"></i>通知
                  <% end %>
                <% end %>
              </div>

              <!--スマホ画面用の設定-->
              <div class="d-block d-md-none mr-auto">
                <% if unchecked_notifications.any? %>
                  <%= link_to notifications_path, class: "nav-link text-danger" do %>
                    <i class="fas fa-bell fa-lg mr-2"></i>
                  <% end %>
                <% else %>
                  <%= link_to notifications_path, class: "nav-link text-secondary" do %>
                    <i class="fas fa-bell fa-lg mr-2"></i>
                  <% end %>
                <% end %>
              </div>

            <% if user_signed_in? %>
              <p class = 'mr-auto mt-2 text-light'>会員名：<%= current_user.name %></p>
            <% end %>

              <%= render 'public/searches/search' %>

            </div>
          </div>
        </div>

        <!--パソコン画面用の設定-->
        <div class="sidebar">
          <div class="col-xl-2 col-lg-3 col-md-4 sidebar-main d-none d-md-block pb-5" >
            <%= render "public/post_coffees/sidebar_tag", tags: @tags %>
            <%= render "public/post_coffees/sidebar_category", categorys: @categorys %>
            <%= render "public/post_coffees/sidebar_genre", genres: @genres %>
          </div>

      <% end %>

      <% if admin_signed_in? %>
        <div class="search-back">
          <div class='py-2 container'>
            <div class="row">
              <div class="ml-auto">
              <%= render 'admin/searches/search' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

        <div class="main">
          <%= yield %>

        <!--スマホ画面用の設定-->
        <% if user_signed_in? %>
          <div class="col-xl-2 col-lg-3 col-md-4 sidebar-main d-block d-md-none pb-5" >
            <%= render "public/post_coffees/sidebar_tag", tags: @tags %>
            <%= render "public/post_coffees/sidebar_category", categorys: @categorys %>
            <%= render "public/post_coffees/sidebar_genre", genres: @genres %>
          </div>
        <% end %>

       </div>
      </div>

      <% else %>
        <%= yield %>
      <% end %>

    <%= render 'layouts/footer' %>
  </body>
</html>