<!DOCTYPE html>
<html>
  <head>
    <title>Coffee_Record</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000;">
	      <% if user_signed_in? %>
	       <a class="navbar-brand ml-5" href="/about"><%= image_tag 'Coffee_Record.png', :size => '100x50' %></a>
	      <% elsif admin_signed_in? %>
	       <a class="navbar-brand ml-5" href="/admin"><%= image_tag 'Coffee_Record.png', :size => '100x50' %></a>
	      <% else %>
         <a class="navbar-brand ml-5" href="/"><%= image_tag 'Coffee_Record.png', :size => '100x50' %></a>
        <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
           <div class="collapse navbar-collapse" id="navbarNavDropdown">
             <ul class="navbar-nav ml-auto">
               <% if user_signed_in? %>
                 <li class="nav-item mr-5">
	                 <%= link_to user_path(current_user.id), class: 'nav-link text-light' do %>
	                   <i class="fa fa-user-circle"></i>マイページ
	                 <% end %>
                 </li>

                 <li class="nav-item mr-5">
	                 <%= link_to new_post_coffee_path, class: 'nav-link text-light' do %>
	                   <i class="fa fa-plus-square"></i>新規投稿
	                 <% end %>
                 </li>

                 <li class="nav-item mr-5">
	                 <%= link_to post_coffees_path, class: 'nav-link text-light' do %>
	                   <i class="fa fa-list"></i>投稿一覧
	                 <% end %>
                 </li>

	               <li class="nav-item mr-5">
                  <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                    <i class="fa fa-sign-out-alt"></i>ログアウト
                  <% end %>
	               </li>

	            <% elsif admin_signed_in? %>
	            　 <li class="nav-item mr-5">
     	             <%= link_to "会員一覧",  admin_path, class: 'nav-link text-light' %>
	               </li>

	               <li class="nav-item mr-5">
	                 <%= link_to "コメント一覧", admin_coffee_comments_path, class: 'nav-link text-light' %>
        	       </li>

	               <li class="nav-item mr-5">
	                 <%= link_to "珈琲の淹れ方一覧", admin_tags_path, class: 'nav-link text-light' %>
        	       </li>

        	       <li class="nav-item mr-5">
	                 <%= link_to "珈琲の種類一覧", admin_categorys_path, class: 'nav-link text-light' %>
        	       </li>

        	       <li class="nav-item mr-5">
	                 <%= link_to "珈琲豆の種類一覧", admin_genres_path, class: 'nav-link text-light' %>
        	       </li>

	               <li class="nav-item mr-5">
                   <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
	               </li>

	            <% else %>
	               <li class="nav-item mr-5">
	                 <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: 'nav-link text-light' %>
        	       </li>

	               <li class="nav-item mr-5">
	                 <%= link_to "新規登録",  new_user_registration_path, class: 'nav-link text-light' %>
        	       </li>

	               <li class="nav-item mr-5">
	                 <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-light' %>
	               </li>
	           <% end %>
	         </ul>
	       </div>
	   </nav>
  </header>

  <body>
   <% unless current_page?(root_path) %><!--検索機能をログイン済みのみに表示するため-->
    <% if user_signed_in? %>
      <div class='pl-5' style="background-color: #333333;">
        <div class='ml-auto py-2 r-5 col-3'>
          <%= render 'public/searchs/search' %>
        </div>
      </div>

      <div class="sidebar-main">
          <div class="col-2 sidebar" >
            <%= render "public/post_coffees/sidebar_tag", tags: @tags %>
            <%= render "public/post_coffees/sidebar_category", categorys: @categorys %>
            <%= render "public/post_coffees/sidebar_genre", genres: @genres %>
          </div>
   <% end %>

          <div class="main">
            <%= yield %>
          </div>
      </div>

    <% else %>
        <%= yield %>
      <!--</div>-->
    <% end %>
    <footer style="height:50px;">
    	<p class="text-center text-white" style="line-height: 50px; background-color: #000;">Coffee_Record</p>
    </footer>
  </body>
</html>
