<!DOCTYPE html>
<html>
  <head>
    <title>Coffee_Record</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
     <% unless current_page?(root_path) %><!--検索機能をログイン済みのみに表示するため-->
      <% if user_signed_in? %>
        <div class="search-back">
          <div class='py-2 ml-auto col-xl-4 col-lg-5 col-md-7 col-sm-8'>
            <%= render 'public/searchs/search' %>
          </div>
        </div>

        <!--パソコン画面用の設定-->
        <div class="sidebar">
          <div class="col-xl-2 col-lg-3 col-md-4 sidebar-main d-none d-md-block pb-5" >
            <%= render "public/post_coffees/sidebar_tag", tags: @tags %>
            <%= render "public/post_coffees/sidebar_category", categorys: @categorys %>
            <%= render "public/post_coffees/sidebar_genre", genres: @genres %>
          </div>

      <% end %>

        <div class="main">
          <%= yield %>

        <!--スマホ画面用の設定-->
        <% if user_signed_in? %>
          <div class="col-xl-2 col-lg-3 col-md-4 sidebar-main d-block d-md-none pb-5" >
            <%= render "public/post_coffees/sidebar_tag", tags: @tags %>
            <%= render "public/post_coffees/sidebar_category", categorys: @categorys %>
            <%= render "public/post_coffees/sidebar_genre", genres: @genres %>
          </div>
        <% end %>

       </div>
      </div>

      <% else %>
        <%= yield %>
      <% end %>

    <%= render 'layouts/footer' %>
  </body>
</html>